* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(85, 110, 135);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.card {
  min-height: 485px;

  .card-header,
  .card-body,
  .card-footer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .card-header {
    min-height: 115px;
    background-color: white;
    border: none;
  }

  .card-body {
    padding-top: 0;

    .is_playing {
      height: 30px;
      width: 50px;
      padding: 10px;
      border: 1px solid rgb(129, 129, 129);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      line-height: 10px;

    }
  }

  .card-footer {

    .genre,
    .vote {
      font-size: 0.9rem;
    }
  }
}